
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 45px 0;
   margin-bottom: 10px;
}
.header__title {
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 30px;
   span {
      font-size: 10px;
      vertical-align:top;
      font-weight: 400;
      vertical-align: 20px
   }
}
.header-logo {
   margin-right: 10px;
}

nav {
   a {
      text-decoration: none;
      color: #333D51;
      font-size: 18px;
      margin-left: 35px;
      line-height: 22px;
      &.active-link {
      color: #004FEC;
      }
      &:first-child {
         margin-left: 0;
      }
   }
}

.header-title__link {
      text-decoration: none;
      color: #333D51;
}